{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
{% endblock %}

{% block title %}{{page_name}}{% endblock %}

{% block body %}

{{ include('sidebar.html.twig') }}

<div class="p-9 h-100 col-10 custom-div overflow-auto">
    <h1>{{page_name}}</h1>

    {% if is_granted("ROLE_USER") %}
        <h5>Cześć {{ app.user.getFirstName() }}, wybierz z menu widok. </h5>
    {% else %}
        <h5>Wybierz z menu widok. </h5>
    {% endif %}
</div>
    
{% endblock %}
