.col label{
    width:25%;
}
.row{
    margin: 5px 0;
}
#pharmacy_supply_Exp_Date{
    float: left;
}
.inline-date-div label{
    float: left;
}
a{
    text-decoration: none;
}

.fit-delete-btn{
    width: 61%;
    float: left;
}

#last_pharmacy_supply_check_Last_Supply_Date{
    float: left;
}
#appointment_Start_date{
    float: left;
}
#appointment_Start_time{
    float: left;
}
#appointment_End_date{
    float: left;
}
#appointment_End_time{
    float: left;
}