<form method="post" action="{{ path('app_pharmacy_supply_delete', {'id': pharmacy_supply.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pharmacy_supply.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
