<form method="post" action="{{ path('app_pharmacy_supply_delete', {'id': pharmacy_supply.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pharmacy_supply.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
