<div class="flex-shrink-0 p-3 h-100 bg-light shadow overflow-auto d-flex flex-column col-6 col-sm-4 col-md-3 col-lg-2" style="float:left;">
    {% if app.user %}
    {# user is logged in #}
    <a href="/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <!--<svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
        <img class="bi me-2" src="{{ asset('images/logo_vol2.png')}}" alt="Logo" width="45" height="45">
        <span class="fs-5 fw-bold">MedInfo</span>
    </a>
    {% else %}
    {# user is NOT logged in #}
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <!--<svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
        <img class="bi me-2" src="{{ asset('images/logo_vol2.png')}}" alt="Logo" width="45" height="45">
        <span class="fs-5 fw-bold">MedInfo</span>
    </a>
    {% endif %}
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded " data-bs-toggle="collapse" data-bs-target="#pharmacy-collapse" aria-expanded="true">
                Apteka
            </button>
            <div class="collapse show" id="pharmacy-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/pharmacysupply" class="link-dark rounded">Stan apteki</a></li>
                    <li><a href="/supplycheck" class="link-dark rounded">Spis kontroli stanu apteki</a></li>
                    <li><a href="/supplycheck/new" class="link-dark rounded">Dodanie kontroli stanu</a></li>
                </ul>
            </div>
        </li>
        {% if is_granted('ROLE_DOCTOR') %}
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#zlecenia-collapse" aria-expanded="false">
                Zlecenia
            </button>
            <div class="collapse" id="zlecenia-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/medical-procedure" class="link-dark rounded">Zlecenia</a></li>
                </ul>
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/medical-procedure/new" class="link-dark rounded">Dodaj zlecenia</a></li>
                </ul>
            </div>
        </li>
        {% endif %}
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#zabiegi-collapse" aria-expanded="false">
                Zaplanowane zabiegi
            </button>
            <div class="collapse" id="zabiegi-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Kalendarz</a></li>
                </ul>
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/medical-procedure" class="link-dark rounded">Zaplanowane zabiegi</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#patients-collapse" aria-expanded="false">
                Pacjenci
            </button>
            <div class="collapse" id="patients-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/patients" class="link-dark rounded">Spis pacjentów</a></li>
                    <li><a href="/patients/new" class="link-dark rounded">Nowy pacjent</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Twoje konto
            </button>
            <div class="collapse" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/user/settings" class="link-dark rounded">Ustawienia</a></li>
                    <li><a href="/logout" class="link-dark rounded">Wyloguj się</a></li>
                </ul>
            </div>
        </li>

    </ul>
    {# Footer #}
    <div class="mt-auto">
        <span class="mb-2 mb-md-0 text-muted" style="font-size: 0.7rem;">© 2022 MedInfo. All rights reserved</span>
    </div>
    {# End-Footer #}
</div>