<form method="post" action="{{ path('app_last_pharmacy_supply_check_delete', {'id': last_pharmacy_supply_check.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ last_pharmacy_supply_check.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
